<div class="navbar">
        <a id = "admin-panel" href="/admin">admin-panel</a>    
        <a id = "settings" href="/admin/settings">settings</a>
        <a id = "add" href="admin/add">add</a>
        <a id = "home" style="float:right" href = "/">Home</a>
</div>