<head>
    <meta charset="UTF-8">
    <title>{{pageTitle}}</title>
    <div class="navbar">

        {{#ifCond active "home"}}
            <a id = "home" class="active" href="/">Home</a>
            {{#if User }}
            <a id = "myaccount" style="float:right" href="MyAccount">My Account</a>
            {{else }}
            <a id = "login" style="float:right" href = "auth/login">Login</a>
            {{/if}}
            <a id = "help" href="Help">Help</a>
            <a id = "about" href="About">About</a>
        {{/ifCond}}  

        {{#ifCond active "myAccount"}}
            <a id = "home" href="/">Home</a>
            <a id = "myaccount" style="float:right" class="active" href="MyAccount">My Account</a>
            <a id = "help" href="Help">Help</a>
            <a id = "about" href="About">About</a>
        {{/ifCond}}    

        {{#ifCond active "help"}}
            <a id = "home" href="/">Home</a>
            <a id = "myaccount" style="float:right" href="MyAccount">My Account</a>
            <a id = "help" class="active" href="Help">Help</a>
            <a id = "about" href="About">About</a>
        {{/ifCond}}    

        {{#ifCond active "about"}}
            <a id = "home" href="/">Home</a>
            <a id = "myaccount" style="float:right" href="MyAccount">My Account</a>
            <a id = "help" href="Help">Help</a>
            <a id = "about" class="active"href="About">About</a>
        {{/ifCond}}    

    </div>
</head>