<head>
    <meta charset="UTF-8">
    <title>{{pageTitle}}</title>
    <div class="navbar">
            <a class="active" href="/">Home</a>
            <a href="MyAccount">My Account</a>
            <a href="Help">Help</a>
            <a href="About">About</a>
    </div>
</head>