<style>
    .reservationForm{
        text-align: center;
    }
</style>

<div class = "reservationForm">
    <form action="/" method="post">

        <label for="date">Enter date: </label>
        <input id="date" type="date" name="date_field" min="0000-00-00" max="9999-12-30" required>

        <label for="time">Choose an appointment time: </label>
        <input id="time" type="time" name="time_field" value="00:00" required>

        <lable for="location">Enter location: </lable>
        <input id="location" type = "text" name = "location_field" required>

        <input type="submit" value="OK">
    </form>
</div>