<!doctype html>
<html lang="en">

<!-- Latest versions of Bootstrap, jquery, and css-->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="/scripts/status.js"></script>
<link rel="stylesheet" href="/css/admin-shared.css" type = "text/css"/>


{{> adminHeader}}

<body>
    
    <!-- If we have status query string, then display it --> 
    {{#if status}}
    <div id = "status-check">
        {{#ifCond status "success"}}
            <p id = "success-response"> Success!</p>
        {{/ifCond }}
        {{#ifCond status "failed"}}
            <p id = "failed-response"> Failed! Already exists</p>
        {{/ifCond }}
    </div> 
    {{/if}}
    

</body>

{{> footer}}


</html>