<!doctype html>

<html lang="en">

<!-- Latest versions of Bootstrap, jquery, and css-->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="css/about.css" type = "text/css"/>
<link rel="stylesheet" href="css/shared.css" type = "text/css"/>

<div class="navbar">
        <a id = "admin-panel" href="/admin">admin-panel</a>    
        <a id = "settings" href="/admin/settings">settings</a>
        <a id = "add" href="admin/add">add</a>
</div>

{{> footer}}




</html>