<!doctype html>

<html lang="en">

<!-- Latest versions of Bootstrap, jquery, and css-->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="css/help.css" type = "text/css"/>
<link rel="stylesheet" href="css/shared.css" type = "text/css"/>

{{> header}}

<style>
    li{
        padding: 10px;
    }
</style>

<body>
    <div class = "MyAccount">
        <h1><strong>FAQ:</strong></h1>
        <ul>
            <li><strong>Question:</strong> Who should use this site? <br>
            <strong>Answer: </strong> Anyone who wants to set up a reservation program for their business</li>

            <li><strong>Question:</strong> What is the best way to learn how to code? <br>
            <strong>Answer: </strong>Practice!</li>

            <li><strong>Question:</strong> How much does this site cost? <br>
            <strong>Answer: </strong> This site is FREE!!!!</li>

            <li><strong>Question:</strong> How do I get in touch with you<br>
            <strong>Answer: </strong>I am reachable via my email</li>

            <li><strong>Question:</strong> How long does a reservation hold for? <br>
            <strong>Answer: </strong> Until the end date</li>

            <li><strong>Question:</strong> Is this it? <br>
            <strong>Answer: </strong>yes.</li>
        </ul>
    </div>
</body>



{{> footer}}




</html>