<!doctype html>

<html lang="en">

<!-- Latest versions of Bootstrap, jquery, and css-->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="css/mainPage.css" type = "text/css"/>
<link rel="stylesheet" href="css/shared.css" type = "text/css"/>
{{> header}}


<body>
    <div class = "mainPage">
        {{#if User}}
            <p> Welcome, {{User.firstName }} to this reservation software!</p>
            <p> To make a reservation, scroll down</p>
            <p> To check up on an existing reservation, click<a href ="MyAccount"> my account</a></p>
            <p> Have a nice day</p>

            <form action="/" method="post">
            <label for="date">Enter date: </label>
            <input id="date" type="date" name="date_field">
            <lable for="location">Enter location: </lable>
            <input id="location" type = "text" name = "location_field" value = "Vancouver">
            <input type="submit" value="OK">
            </form>






        {{else}}
            <p>This is a website to make reservations</p>
            <p>To make a reservation, you must first create an account <a href = "auth/login">here</a></p>
        {{/if }}
        
    </div>
</body>



{{> footer}}


</html>