<!doctype html>

<html lang="en">

<!-- Latest versions of Bootstrap, jquery, and css-->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="css/myAccount.css" type = "text/css"/>
<link rel="stylesheet" href="css/shared.css" type = "text/css"/>

{{> header}}

<style>
    .center {
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
    }

</style>

<body>
    <div class = "MyAccount">
        <div class = "center"><img id = "profile-pict" src = {{User.thumbnail}}></div>
        <div class = "center">
            <p> Hello {{User.firstName}}</p>
            <p> Here are your upcoming reservations: </p>
        </div>
        {{> calendar}}
    </div>
</body>


{{> footer}}




</html>