#myaccount{
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/e/e9/16777216colors.png/220px-16777216colors.png");
    border-top-right-radius: 25%;
    border-top-left-radius: 10%;
}
/* Add a black background color to the top navigation */
.navbar {
    background-color: rgb(255, 0, 0);
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.navbar a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border-radius: 10px;
}

/* Change the color of links on hover */
.navbar a:hover {
    border-radius: 10px;
    background-color: #ddd;
    color: black;
}
footer{
    position:fixed;
    bottom:0;
    left:0;
}